@using ReDoMusic.Domain.Entites;
@model List<Brand>

<h2>Add Instrument</h2>

<form method="post">
    <div class="mb-3 mt-3">
        <label class="form-label">Instrument Type:</label>
        <input type="text" class="form-control" placeholder="Enter Instrument Name" name="instrumentName">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Brand Name:</label>
        <select class="form-select" placeholder="Enter Brand Name" name="brandName">
            @foreach (var brand in Model)
                {
                <option>@brand.Name</option>
                }
            </select>
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Price:</label>
        <input type="text" class="form-control" placeholder="Enter Price" name="price">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Model:</label>
        <input type="text" class="form-control" placeholder="Enter Model" name="instrumentModel">
    </div>
    <div class="mb-3 mt-3">Type:</label>
        <input type="text" class="form-control" placeholder="Enter Path /images/***.png" name="imageURL">
    </div>
    <div class="mb-3 mt-3">
        <label class="form-label">Color:</label>
        <input type="text" class="form-control" placeholder="Enter Color" name="instrumentColor">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form> 